<!DOCTYPE HTML>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Helmes demo</title>
	<link th:href="@{/main.css}" rel="stylesheet" />
	<link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" />
</head>
<body>
<div>
	<p>Please enter your name and pick the Sectors you are currently involved in.</p>
</div>
<div>
	<form class="form" action="#" th:action="@{/user}" th:object="${userDTO}" method="post">
		<div class="form-group">
			<p>Name:</p>
			<input class="form-control" type="text" placeholder="Please enter Your full name"
				   th:field="*{name}" th:value="${user?.name}"/>
			<div class="alert alert-warning"
				 th:if="${#fields.hasErrors('name')}"
				 th:errors="*{name}"></div>
		</div>
		<div class="form-group">
			<p>Sectors:</p>
			<select class="form-control" multiple="multiple" size="5" th:field="*{sectors}">
				<option
						th:each="sector : ${sectors}"
						th:value="${sector.id}"
						th:utext="${sector.name}"
						th:selected= "${user != null}
							? ${#lists.contains(user?.sectors, sector)}
							: false">
				</option>
			</select>
			<div class="alert alert-warning"
				 th:if="${#fields.hasErrors('sectors')}"
				 th:errors="*{sectors}"></div>
		</div>
		<div class="form-group">
			<p id="terms_text">Agree to terms:</p>
			<input type="checkbox"
				   th:field="*{terms}" th:checked="${user?.terms}"/>
			<div class="alert alert-warning"
				 th:if="${#fields.hasErrors('terms')}"
				 th:errors="*{terms}"></div>
		</div>
		<div>
			<input class="btn btn-success" type="submit" value="Save"/>
		</div>
	</form>
</div>
</body>
</html>
